/**
 *
 * Welcome Page Styles
 *
**/

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}
.themes-php .everest-toolkit-notice{
    display: none;
}
.et-welcome-admin-notice-wrapper h2 {
    margin: 0;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.2;
}

.et-welcome-admin-notice-wrapper p.about-description {
    color: #72777c;
    font-size: 16px;
    margin: 0;
    padding: 0px;
}

.et-welcome-admin-notice-wrapper {
    padding: 23px 10px 0;
    max-width: 1500px;
}

.et-welcome-admin-notice-wrapper hr {
    margin: 20px -23px 0;
    border-top: 1px solid #f3f4f5;
    border-bottom: none;
}

.et-welcome-admin-notice-column-container h3 {
    margin: 17px 0 0;
    font-size: 16px;
    line-height: 1.4;
}

.themes-php .et-welcome-admin-notice-column-container h3 {
    margin-top:15px;
    margin-bottom: 5px;
}
.et-welcome-admin-notice-column-container p {
    color: #72777c;
}

.et-welcome-admin-notice-text p.ti-return-dashboard {
    margin-top: 30px;
}

.et-welcome-admin-notice-column-container .et-welcome-admin-notice-column {
    padding-right: 40px;
}

.et-welcome-admin-notice-column-container img {
    width: auto;
    border: 1px solid #f3f4f5;
    height: 200px;
    margin:auto;
    margin-top: 30px;

}

.et-welcome-admin-notice-column-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 24% 32% 32%;
    grid-template-columns: 24% 32% 32%;
    margin-bottom: 13px;
}

.et-welcome-admin-notice-column-container a.button.button-hero.button-secondary,
.et-welcome-admin-notice-column-container a.button.button-hero.button-primary {
    margin: 0px;
}
.et-welcome-admin-notice-column-container a.button.button-hero.button-secondary{
    margin-top: 15px;
}

.et-welcome-admin-notice-column-container .et-welcome-admin-notice-column:not(.et-welcom-admin-notice-image) {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 100px;
    grid-template-rows: auto 100px;
}


.et-welcome-admin-notice-column-container .et-welcome-admin-notice-column:not(.et-welcom-admin-notice-image){
    display:block;
    height: 200px;
}
.et-welcome-admin-notice-column-container .et-welcome-admin-notice-column{
margin-bottom:15px;
padding-right:15px;
}
.et-welcome-admin-notice-column-container .et-welcome-admin-notice-column {
    margin-bottom: 15px;
    padding-right: 15px;
}
.et-welcome-admin-notice-column.et-welcome-admin-notice-starter-sites{
    margin:15px;
    }
@media screen and (max-width: 1280px) {
    .et-welcome-admin-notice-wrapper .et-welcome-admin-notice-column-container {
        -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    }

    .et-welcome-admin-notice-column-container a.button.button-hero.button-secondary,
    .et-welcome-admin-notice-column-container a.button.button-hero.button-primary {
        padding: 6px 18px;
    }

    .et-welcome-admin-notice-wrapper .et-welcome-admin-notice-image {
        display: none;
    }
    a.ti-return-dashboard.button.button-secondary.button-hero.install-now {
    display: inline-table;
}
.et-welcome-admin-notice-column-container a.button.button-hero.button-secondary, 
.et-welcome-admin-notice-column-container a.button.button-hero.button-primary,
.et-welcome-admin-notice-column-container a.button.button-hero.button-primary{
    padding:0px 18px;
}
}

@media screen and (max-width: 870px) {
    .et-welcome-admin-notice-column-container img{
        margin-bottom: 30px;
        margin-top:0;

    }
.et-welcome-admin-notice-column-container .et-welcome-admin-notice-column:not(.et-welcom-admin-notice-image){
    padding-top:30px;
}
    .et-welcome-admin-notice-wrapper .et-welcome-admin-notice-column-container {
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    }

    .et-welcome-admin-notice-column-container a.button.button-hero.button-primary {
        padding: 12px 36px;
    }
    .themes-php .et-welcome-admin-notice-column-container a.button.button-hero.button-primary{
        padding:0 15px;
    }
}

.welcome-section-wrapper * {
    box-sizing: border-box;
}


.theme-steps-list {
    width: 40%;
    float: left;
}

.theme-image {
    width: 55%;
    float: right;
}

.theme-steps {
    margin-bottom: 60px;
}

.welcome-section-wrapper {
    padding: 50px 0;
}

.recomended-plugin-wrap {
    margin-left: -4%;
}

.recom-plugin-wrap {
    background: #fff;
    border: 1px solid #ddd;
    width: 29.33%;
    float: left;
    margin-left: 4%;
    margin-bottom: 50px;
}

.plugin-img-wrap {
    margin-top: 0;
    text-align: center;
}

.plugin-img-wrap img {
    border: 0;
    padding: 12% 12% 0;
}

.version-author-info {
    padding: 15px 0;
    font-size: 13px;
    font-style: italic;
}

.plugin-title-install {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    line-height: 26px;
    padding: 10px 15px;
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #fff;
    background: rgba(255, 255, 255, .65);
}

.plugin-btn-wrapper {
    -webkit-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 46px;
    padding: 10px 20px;
    background: rgba(244, 244, 244, .7);
    border-left: 1px solid rgba(0, 0, 0, .05);
}

.action-tab {
    padding-left: 40px;
    border-left: 4px solid #fff;
    background: #fff;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 30px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.action-tab.warning {
    border-color: #eba300;
}

.action-tab.success {
    border-color: #00b9eb;
}

.action-tab h3 {
    margin-top: 0;
}

.pending-tasks {
    display: inline-block;
    background-color: #d54e21;
    color: #fff;
    font-size: 9px;
    line-height: 17px;
    font-weight: 600;
    margin: 1px 0 0 2px;
    vertical-align: top;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 26;
    padding: 0 6px;
    margin-left: 5px;
}

.support-process {
    width: 46%;
    margin-right: 4%;
    float: left;
    border: 1px solid #DDD;
    padding: 30px;
    margin-bottom: 40px;
    background: #FFF;
}

.support-process h3 {
    margin-top: 0;
}

.recommended_plugins .recomplug-title {
    font-size: 20px;
    margin-top: 0;
}

table.comparison-table {
    background: #F6F6F6;
    border: #ccc 1px solid;
    width: 100%;
    border-collapse: collapse;
    border-radius: 3px;
}

table.comparison-table th,
table.comparison-table td {
    border: 1px solid #CCC;
    padding: 15px;
    text-align: left;
}

table.comparison-table th:nth-child(2),
table.comparison-table td:nth-child(2),
table.comparison-table th:nth-child(3),
table.comparison-table td:nth-child(3) {
    text-align: center;
}

table.comparison-table th {
    background: #ededed;
    font-size: 20px;
    padding: 25px 15px;
}


table.comparison-table th p:last-child,
table.comparison-table td p:last-child {
    margin-bottom: 0;
}

table.comparison-table td span {
    font-weight: bold;
}

table.comparison-table tr:hover {
    background: #EEE;
}

table.comparison-table img {
    width: auto;
}

.compare-table.table-responsive th:first-child,
.compare-table.table-responsive td:first-child {
    text-align: left;
}

a.buy-pro-btn {
    display: block;
    background: #b92424;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    text-align: center;
}

a.buy-pro-btn:hover {
    background: #981f1f
}

.free_vs_pro .three-col h4 {
    font-weight: bold;
}

.free_vs_pro .three-col {
    margin-bottom: 30px;
}

.free_vs_pro .three-col .col {
    border: 5px solid #E0E0E0;
    padding: 15px 30px;
    text-align: center;
}

.free_vs_pro .three-col .col:hover {
    background: #EEE;
}

/* getting started customizer links */
.operation-welcome-box-white {
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    background: #fff;
    margin-bottom: 30px;
}

.operation-theme-steps-list .left-box-wrapper-outer {
    width: 70%;
    float: left;
}

.et-box-header {
    border-bottom: 1px solid #eee;
    font-size: 14px;
    padding: 12px 15px;
    font-weight: 600;
}

.operation-theme-steps-list .et-box-content {
    padding: 15px;
}

.operation-theme-steps-list .et-box-content ul {
    list-style: none;
    margin: -15px;
}

.operation-theme-steps-list .et-box-content ul li {
    width: 50%;
    float: left;
    border-bottom: 1px solid #eee;
    margin-bottom: 0px;
    border-right: 1px solid #eee;
    padding: 12px 15px;
}

.operation-theme-steps-list a.et-quick-setting-link {
    text-decoration: none;
}

.operation-admin-side-wrapper {
    width: 25%;
    float: left;
    margin-left: 5%;
}

.box-content {
    padding: 15px;
}

.box-content p {
    font-size: 14px;
}

.operation-theme-steps-list ul.et-list.clearfix li span {
    color: #0073aa;
}

.et-welcome-header {
    background: #2e313d;
    margin-left: -20px;
    padding: 30px;
    border-bottom: 3px solid #0073aa;
    color: #FFF;
}

.inner-header-wrapp {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.et-welcome-header h1 {
    color: #FFF;
    display: inline-block;
    font-size: 44px;
}

.inner-header-wrapp span {
    color: #a0a5aa;
    font-weight: 600;
    display: inline-block;
}

.left-box-wrapper-outer.operation-changelogs {
    background: #fff;
    padding-left: 30px;
}

.theme-browser .theme .theme-name {
    height: auto;
}

/* free vs pro */
.compare-table.table-responsive table,
.compare-table.table-responsive th,
.compare-table.table-responsive td {
    border: 1px solid #eee;
    padding: 10px;
}

.compare-table.table-responsive table {
    border-collapse: collapse;
}

.operation-comparision-wrapper {
    background: #fff;
    padding: 30px;
    width: 70%;
    float: left;
}

.operation-comparision-wrapper td.dashicons-before.dashicons-no-alt {
    color: #f16565;
}

.operation-comparision-wrapper td.dashicons-before.dashicons-yes {
    color: rgba(75, 185, 54, 0.8);
}

.operation-comparision-wrapper .button-wrapper {
    text-align: center;
}

.operation-comparision-wrapper .button-wrapper a {
    text-decoration: none;
    padding: 15px 25px;
    background: #e94c4c;
    color: #fff;
    display: inline-block;
    margin-top: 25px;
}

.operation-comparision-wrapper .button-wrapper a:hover {
    background: #ce3535;
}

/* nav tab */
.inner-header-wrapp {
    position: relative;
}

.et-welcome-header {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.et-welcome-header:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.nav-tab-wrapper {
    background-color: #2e313d;
    border: none;
    padding: 10px;
}

.about-wrap .nav-tab {
    color: #333;
    background-color: white;
    border: none;
    margin-left: 0;
    margin-right: 10px;
    transition: 0.5s ease all;
    border-radius: 4px;
}

.about-wrap .nav-tab:hover {
    opacity: 0.9;
}

.about-wrap p {
    line-height: 1.3;
}

.wp-core-ui .box-content .et-list li .button-primary {
    margin-bottom: 15px;
}

.et-box-content .et-list li a {
    text-decoration: none;
}

.et-box-content .et-list li a:hover {
    color: #333;
}

.et-box-content .et-list li a {
    padding-left: 10px;
}

.compare-table.table-responsive table {
    width: 100%;
    text-align: center;
}

.operation-comparision-wrapper .button-wrapper {
    text-align: left
}

.button-wrapper a.btn {
    padding: 7px 15px;
    border-radius: 4px;
}

.support-process .button {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    transition: 0.5s ease all;
}

.support-process .button:hover,
.support-process .button:focus,
.support-process .button:visited {
    color: #fff;
    text-shadow: none;
    background: #2d97cb;
    border-color: #0073aa #006799 #006799;
}

.welcome-section-wrapper span.et-welcome-dashicons.dashicons.dashicons-info.special_icon {
    box-sizing: content-box;
}

span.et-welcome-dashicons.dashicons.dashicons-info.special_icon {
    display: inline-block;
    background-color: #51b74a;
    padding: 10px;
    width: 90%;
    text-align: left;
    color: #ffffff;
    line-height: 0.5;
    border-radius: 4px;
    position: relative;
    padding-left: 40px;

}

.dashicons-info:before {
    content: "\f348";
    position: absolute;
    left: 15px;
    top: 13px;

}

span.et-welcome-dashicons.dashicons.dashicons-info.special_icon.old-style {
    background-color: #efb71c;
}


.box-content .button.button-primary.btn {
    text-decoration: none;
    background: #e94c4c;
    color: #fff;
    display: inline-block;
    box-shadow: none;
    text-shadow: none;
    border: none;
}

.box-content .button.button-primary.btn:hover {
    background: #ce3535;
}

.et-welcome-admin-notice-wrapper.notice.notice-success.is-dismissible {
    text-align: center;
}

.et-welcome-admin-notice-wrapper.notice.notice-success.is-dismissible h2 {
    background-color: #51b74a;
    display: inline-block;
    color: #fff;
    padding: 15px 60px;
    ;
    border-radius: 4px;
    margin-bottom: 15px;
}

.et-welcome-admin-notice-column.et-welcome-admin-notice-starter-sites {
    background-color: #e94c4c;
    padding: 15px;
    margin:15px;

}

.et-welcome-admin-notice-column.et-welcome-admin-notice-starter-sites h3 {
    color: #fff;
    font-size: 20px;
    line-height: 0.8;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    display: inline-block;
    margin-bottom: 5px;
}

.et-welcome-admin-notice-column.et-welcome-admin-notice-starter-sites p {
    color: #fff;
    font-size: 15px;
    line-height: 1.2;
}
.et-welcome-admin-notice-column.et-welcome-admin-notice-recommendation {

    background-color: #333;
    padding: 15px;
    margin: 15px;
}
.et-welcome-admin-notice-column.et-welcome-admin-notice-recommendation  p{ 
  color: #fff;
    font-size: 15px;
    line-height: 1.2;
}
.et-welcome-admin-notice-column.et-welcome-admin-notice-recommendation  h3{ 
  color: #fff;
    font-size: 20px;
    line-height: 0.8;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    display: inline-block;
    margin-bottom: 5px;
}

.et-demo-how-to-do  .box-content ul.et-list  li span.et-welcome-dashicons{
    display: inline-block;
    background-color: #0073aa;
    padding: 10px;
    width: 90%;
    text-align: left;
    color: #ffffff;
    line-height: 0.5;
    border-radius: 4px;
    position: relative;
    padding-left: 40px;
    box-sizing: content-box;
    padding-left:10px;
    padding-top:13px;
}
.et-demo-how-to-do  .et-demo-how-to-do-col.right {
    background-color: #eee;
    padding:20px;
}
.et-demo-how-to-do  .how-to-do-heading{
    font-weight: 900;
    font-size: 24px;
    margin-top: 0;
}
.et-demo-how-to-do-row.how-to-do-wrap {
    background: #e4e5ec;
    padding-top: 25px;
    margin-top: 30px;
}

@media screen and (max-width: 480px) {
    .et-welcome-admin-notice-column-container .et-welcome-admin-notice-column:not(.et-welcom-admin-notice-image){
        height:auto;
    }
}